body{
    font-family: 'Times New Roman', Times, serif;
    height: 700px;
    width: 900px ;
    text-align: justify;
    margin: 0px auto;    
}

h2{
    color: brown;
    text-align: center;
}
#chu1{
    color: red;
    font-size: 30px;
}
.chu{
    color: blue;
}