body{
    font-family: 'Times New Roman', Times, serif;
    
}

#main{
    width: 600px;
    margin: 0 auto;
}

.section{
    border-top: 1px solid #cccccc;
    margin: 10px auto;
}

.nd{
    display: flex;
}

p{
    margin-left: 10px ;
    margin-top: 0;
    
}
